<!-- Home -->
<section id="home" name="home">
    <div class="container-fluid" style="height: 100%">
        <!-- Leftmost Image -->
        <div class="col-sm-4 hidden-xs">
            <img class="img-responsive wow fadeInUp animated" alt="cup picture" data-wow-delay="0.5s" style="visibility: visibile; animation-delay:0.5s; animation="fadeInUp;" src="{{page.media[page.header.left_image].url}}"></img>
        </div>
        <!--/Leftmost Image -->

        <!-- Attempt to vertical align the Right image and the Discover More button -->
        <div class="valign col-sm-8">
            <!-- Rightmost Image -->
            <img class="img-responsive wow fadeInUp animated" alt="ennovar definition" data-wow-delay="0.5s" style="visibility: visibile; animation-delay:0.5s; animation="fadeInUp;" src="{{page.media[page.header.right_image].url}}"></img>
            <!--/Rightmost Image -->

            <!-- Blue Discover More Button -->
            <div class="col-sm-12">
            <a class="discover-more wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation="fadeInUp;" href="{{page.header.discover_more_link}}">
                    <div>
                        <span>Discover</span>
                        <span>More</span>
                    </div>
            </a>
            </div>
            <!--/Blue Discover More Button -->
        </div>
        <!--/Attempt to vertical align the Right image and the Discover More button -->
    </div>
</section>
<!--/Home -->
